{% extends '::base.html.twig' %}

{% block title %} Productos {% endblock %}
{% block body %}
<h1 style="text-decoration: underline;"> Productos</h1>
{% for producto in productos %}

<br>
    <b style="margin-left:80%; font-size: 18px; color: green;">Autor:</b> <td style="margin-left:85%;">{{ producto.author }}</td> <br>
    <b style="color: #101010">Titulo:</b> <td>{{ producto.title }}</td> <br>
    <b style="color: #101010">Tipo:</b> <td>{{ producto.type }}</td> <br>
    <b style="color: #101010">Contenido:</b> <br> <td>{{ producto.content }}</td> <br></br>

    <b style="color: #101010">Fecha de creacion:</b><br>
    <td>{{ producto.createdAt|date('d/m/Y H:i:s') }}</td> <br>
    <td>{{ producto.updatedAt|date('d/m/Y H:i:s') }}</td> <br></br>
    <td><a href="{{ path('app_productos_update', {'id': producto.id}) }}" style=" border: 2px solid lightslategray;  color: #101010">Actualizar</a> </td>
    <td><a href="{{ path('app_productos_remove', {'id': producto.id}) }}" style="color: #101010; border: 2px solid lightslategray">Eliminar</a> </td> <br>
</tr>
{% endfor %}

<div style="margin-top: 10px">
    <a href="{{ path('app_productos_add') }}" style="color: darkblue">Nuevo producto</a>
</div>
{% endblock %}